#!/bin/sh

### ntfy ###
cd /opt/ntfy

# installation check
if [ -f /opt/ntfy.version ]; then
    # backup
    /bin/ntfy-backup
else
    # start services
    systemctl daemon-reload
    systemctl enable ntfy

    # restore from backup, if exists
    set +e
    rclone --config /opt/scaleway/rclone.conf sync -P scaleway:{{ .bucket.id }}/{{ .bucket.path }}/ntfy/ /opt/ntfy/data/
    set -e
fi

# finalize installation
echo "{{ .version }}" > /opt/ntfy.version

# restart services
systemctl daemon-reload
systemctl enable ntfy
systemctl restart ntfy

# cleanup old images
sleep 90
docker image prune --all --force || true
