#!/bin/sh

# filename format: simplelogin-YYYYMMDD_HHMMSS.dump
TIMESTAMP=$(date +%Y%m%d_%H%M%S)
FILENAME="simplelogin-${TIMESTAMP}.dump"

# run backup
docker exec -i simplelogin-postgres pg_dump -U simplelogin -d simplelogin -Fcb -f "/backups/${FILENAME}"

# retention policy: delete backups older than 3 days
find /opt/backup/simplelogin -maxdepth 1 -name "simplelogin_*.dump" -mtime +3 -print -delete

# upload data to scaleway
rclone --config /opt/scaleway/rclone.conf sync -P /opt/backup/simplelogin/ scaleway:{{ .bucket.id }}/{{ .bucket.path }}/simplelogin/ || true
