#!/bin/sh

# upload data to google cloud storage
GOOGLE_APPLICATION_CREDENTIALS=/opt/google/credentials.json CLOUDSDK_CORE_PROJECT={{ project }} gcloud storage rsync -r /opt/ntfy/data/ gs://{{ bucket.id }}/{{ bucket.path }}/backup/ --delete-unmatched-destination-objects || true
